body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.sidenav {
  height: 150%;
  width: 215px;
  position: fixed;
  background-color: #1D1C1A;
  padding-top: -80px;
  margin-top: 87px;
  z-index: 1;
}



.sidenav .nav {
  padding: 8px 8px 8px 32px;
  font-size: 18px;
  color:#f2f3f4;
  display: block;
  transition: 0.3s;
}

.sidenav .nav:hover {
  background-color: #32bbc2;
  color: white;
}

.sidenav p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}

.main {
  margin-left: 200px;
  padding: 0px;
  
}
.button {
  border: none;
  color: white;
  padding: 14px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.learn {
  background-color: #add8e6; 
  color: black; 
  border: 2px solid #008CBA;
  position: absolute;
  float: right;
}

.learn:hover {
  background-color: #008CBA;
  color: white;
}

.trycode {
  background-color: #ee8989; 
  color: black; 
  border: 2px solid #e62d2d;
  position: absolute;
  float: right;
}

.trycode:hover {
  background-color: #f76d6d;
  color: white;
}
.login {
  background-color: #add8e6; 
  color: black; 
  border: 2px solid #008CBA;
}

.login:hover {
  background-color: #008CBA;
  color: white;
}


/* basic php navbar */
.sidenav2 {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: pink;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav2 a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav2 a:hover {
color: palevioletred;
}

.sidenav2 .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

/* navbar fix top */

.navtop{
background-color: #f7a8ac;
position: fixed;
overflow-x: hidden;
top: 0;
width: 100%;
margin-left: 215px;
padding-right: 215px;
}
/* login navbar */

.logintry:hover{
background-color: #1D1C1A;
padding: 10px 10px 10px 10px;
opacity: 1;
color: white;
}

.logintry{
text-decoration: none !important;
margin-top: auto;
font-weight: 0;
font-family: 'Roboto Mono', monospace;
border: none;
padding: 10px 10px 10px 10px;
background-color: white;
border-radius: 10px;
margin-right: 50px;
margin-top: -20px;
margin-left: 80%;

}

.logintry1{
text-decoration: none !important;
margin-top: auto;
font-weight: 700;
border: none;
padding: 10px 10px 10px 10px;
background-color: transparent;
margin-right: 20px;
color: white;
}


/* sigup page sidenav */

.sidenavhome {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #363535;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenavhome a {
padding: 8px 8px 10px 50px;
text-decoration: none !important;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenavhome a:hover {
color: white;
background-color: #8f8282;
}

.sidenavhome .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
text-decoration: none !important;
}

.navcur {
height: 100%;
position: absolute;
width: 50px;
background-color: #1a1a1a;
}

/* homepage css */

.imgsize{

width: 10000000000000000000000000000000000000px;
height: auto;

margin-top: 20px;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}


#navArea {
display: flex;
padding: 0px 10%;
position: fixed;
width: 100%;
top: 0px;
background:  rgb(1, 1, 26);
transition: background 0.5s;
box-shadow: 0px 0px 8px 2px #000000;
}

#navArea .logo img {
padding-top: 10%;
height: 85px;
transition: height 0.5s;
}


#navArea ul {
font-size: 1em;
list-style: none;
display: flex;
align-items: center;
width: 400px;
}

#ahref:hover {
  color: white;
}

#ahref:hover {
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  opacity: 1;
  color: black;
}

#navArea .logintry{
  text-decoration: none !important;
  margin-top: auto;
  font-weight: 0;
  color: white;
  font-family: 'Helvetica', monospace;
  border: none;
  padding: 10px 10px 10px 10px;
  background-color: transparent;
  
}

#navArea .logintry1:hover{
  background-color: white;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  opacity: 1;
  color: black;
}


#navArea ul li a {
  text-decoration: none;
  color: white;
  font-weight:500;
  padding-left: 30px;
}

#navArea.is-sticky {
background: #055C9D;
}

#navArea.is-sticky a {
color:#fff;
}

#navArea.is-sticky #ahref:hover {
  background-color: white;
  padding: 10px 10px 10px 10px;
  opacity: 1;
  color: black;
  }

#navArea.is-sticky .logo img {
height:64px;
}

.div3 {
  text-align: center;
  background-color: #ff9980;
    width: 55%;
    height: 100px;
    padding-top: 5px;
    padding-bottom: 1px;
    position: relative;
    
  }
  .div4 {
    background-color: #ff9980;
      width: 80%;
      padding-top: 5px;
      position: relative;
      
    }

    .merlo:hover{
      color: white;
    }


/* admin design */
.program {
background-color: #ef464f; 
color: black; 
border: 2px solid #5a070c;
width: 250px;
}

.program:hover {
background-color: #e8141f;
color: white;
}
.create {
background-color: #fe7d6a; 
color: black; 
border: 2px solid #5a070c;
width: 300px;
}

.create:hover {
background-color: #e8141f;
color: white;
}

.back{
color: black; 
font-size: 30px;
text-decoration: none !important;
}

.back:hover {
color: red;
}

/*guest intro*/

#try{
width: 100%;
background-color: white;
position: fixed;
}

.topnav{
  z-index: 200;
  position: fixed;
background-color: white; 
text-align: center; 
margin-bottom: -1%;
 padding-top:1.4%; 
 box-shadow: 0px 0px 8px 1px #161515;
}